// WHO'S WILLOW

.head-section {
    &--top {
        padding: 100px 0 150px 0;
    }
    &--bottom {
        padding: 150px 0 100px 0;
    }
}
.subsections {
    background: $white;
}
.section-content {
    display: flex;
    &__item {
        width: 50%;
    }
    &__text {
        text-align: center; 
        &--left {
            text-align: left;
        }
        &--right {
            text-align: right;
        }
    }
    &__description {
        margin: 30px 0;
    }
    &__btn {
        @include button(auto);
        padding: 10px 30px;
    }
}

// FAVOURITE THINGS
.section-content--right {
    border: 1px solid orange;
    text-align: right;
}


// BUCKET LIST


// JOURNEY

.section-content--left {
    border: 1px solid red;
    flex: 0 0 70%;
    text-align: left;
}

.journey-image {
    flex: 0 1 30%;
}


.footer {
    background-color: $dark;
    color: $light;
    text-align: center;
    padding: 5px;
}