// WHO'S WILLOW

.head-section {
    &--top {
        padding: 100px 0 150px 0;
    }
    &--bottom {
        padding: 150px 0 100px 0;
    }
}

.section-content {
    &__item {
        width: 50%;
    }
    &__text {
        text-align: center; 
        &--left {
            text-align: left;
        }
        &--right {
            text-align: right;
        }
    }
    &__description {
        margin-bottom: 30px;
    }
    &__btn {
        @include button(auto);
        padding: 10px 30px;
    }
}

// FAVOURITE THINGS / BUCKET LIST
.subsection {
    background: $white;
}

.section-content--right {
    border: 1px solid orange;
    text-align: right;
}

// JOURNEY


// GALLERY

.gallery {
    &__item {
        width: calc(33.333% - 30px);
    }
}

.blurbs {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
    &__blurb-item {
        display: flex;
        width: calc(50% - 20px);
        margin: 30px 0;

    }
    &__icon-item {
        display: inline-block;
        margin-right: 20px;
        border-radius: 50%;
        background-color: $accent;
        width: 100px;
        height: 50px;
        position: relative;
        top: -8px;
    }
    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}