/* START GLOBAL STYLES */


img {width: 100%; max-width: 100%; display: block;}

a {
    text-decoration: none; 
    color: $dark;
}

ul {
    list-style-type: none;
}

html {
    font-size: 62.5%;
}

body {
    @include body-text(20);
    background: $light;
    color: $dark;
}

.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    width: 80%;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 ;
    flex-wrap: wrap;

}

.headline-text {
    margin-bottom: 30px;
}

.form {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    &__input {
        margin-bottom:20px;
        padding: 25px 40px;
        border: none;
        width: calc(50% - 7px);
        &::placeholder {
            color: $dark;
        }
        &--textarea {
            width: 100%;
            height: 295px;
            resize: none;
            padding-top: 40px;
        }
    }
   &__butn {
        @include button(100%);
        padding: 10px 30px;
        border: none;
   } 
}

/* END GLOBAL STYLES */


// h1 {
    // @include heading-text(80);
    // HOME"WILLOW" ... and Blog & News, Contact Me
//   }

h2 {
    @include heading-text(42);
    // "who's willow, Willow's Journey"
}

h3 {
    @include heading-text(32);
    // "favourite things, photos, about"
}

h4 {
    @include heading-text(24);
    // "About Willow, Recent Posts"
}