/* START GLOBAL STYLES */

a {text-decoration: none;}

img {width: 100%; max-width: 100%; display: block;}

$primary: #345231;
$secondary: #709b6b;
$accent: #e4a436;
$black: #1f1f1f;
$white: #f6f6f6;


$headline: 'Abril Fatface', cursive;
$main: 'Montserrat', sans-serif;

/* END GLOBAL STYLES */