// HOME PAGE STYLES

.main-header {
    background-color: $primary;
    height: 85vh;
    .flex-wrapper {
        justify-content: space-between;
        align-items: center;
    }
    .hero-headline {
        font-family: $headingfont;
        font-size: 125.5px;
        font-size: 12.5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        color:$light;
    }
}

.main-nav {
    font-weight: 700;
    font-size: 2.0rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    background-color: $primary;
    &__list {
        display: flex;
    }
    &__list-item {
        padding: 20px;
        &:nth-of-type(2) {
            order: -1;
        }
        &:nth-of-type(3) {
            order: -1;
        }
        &--logo {
            font-family: $headingfont;
            font-size: 4rem;
            line-height: 0.5;
        }
    }
    &__link {
        color: $light;
        &--active {
            color: $accent;
        } 
    }
}

.hero-headline {
    position: relative;
}
.hero-headline::before {
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../assets/circle-text.png);
    background-repeat: no-repeat;

}

.hero-text {
    border: 1px solid yellow;
}
.hero-image {
    bordeR: 1px solid blue;
    width: 40%;
}




// box-shadow: 15px 15px 0 white;
 

/// BLOG PAGE

.header {
    height: 50vh;
    display: flex;
    align-items: flex-end;
    &--blog {
        background-image: url(../assets/blog-image-1.jpg);
        background-size: cover;
    }
    &--contact {
        background-image: url(../assets/contact-image-1.jpg);
        background-size: cover;
        background-position: bottom;
    }
    &__headline {
        @include heading-text(80);
        color: $light;
        line-height: 92px;
        position: relative;
        top: 17px;

    }
}

.test {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 ;
    p {
    }

}

.asides-section {
    display: flex;
    flex-direction: column;
    flex: 3 0 15%;
}
.aside {
    background-color: $white;
    padding: 30px;
    margin: 0 40px 20px 0;
    &__headline {
        margin: 15px 0;
    }
    &__link {
        font-weight: 700;
        color: $secondary;
    }
    &__list {
        margin-left: 30px;
        list-style-type: disc;
    }
}

.post {
    padding: 30px;
    flex: 1 0 60%;
    background: white;
    p {
        margin: 15px 0;
    }
    
    &__title {
        @include heading-text(26);
        margin-bottom: 20px;
    }
}

// CONTACT ME
.social {
    display: flex;
    justify-content: space-between;
}