// HOME PAGE STYLES

.main-header{
    background-color: $primary;
    height: 100vh;
    &__wrapper {
        display: flex;
    }
}

.main-nav {
    font-weight: 700;
    font-size: 2.0rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    &__list {
        display: flex;
    }
    &__list-item {
        padding: 20px;
        &:nth-of-type(2){
            order: -1;
        }
        &:nth-of-type(3){
            order: -1;
        }
        &--logo {
            font-family: $headingfont;
            font-size: 5rem;
        }
    }
    &__link {
        color: white;
    }
}


.hero-content {
    width: 60%;
    border: 1px solid yellow;
}
.circle-text {
    width: 20%;
}
    // box-shadow: 15px 15px 0 white;
// 

// .main-headline {
//     font-size: 12rem;
// }