/* START GENERAL STYLES */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

* {
  margin: 0;
  padding: 0; }

/* END GENERAL STYLES */
/* START GLOBAL STYLES */
a {
  text-decoration: none; }

img {
  width: 100%;
  max-width: 100%;
  display: block; }

ul {
  list-style-type: none; }

html {
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-size: 2rem;
  line-height: 32px;
  color: #1f1f1f;
  background: #f6f6f6;
  color: #1f1f1f; }

.wrapper {
  border: 1px solid #000;
  margin: 0 auto;
  max-width: 1280px;
  width: 80%; }

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .form__input {
    margin-bottom: 20px;
    padding: 25px 40px;
    border: none;
    width: calc(50% - 7px); }
    .form__input::-webkit-input-placeholder {
      color: #1f1f1f; }
    .form__input:-ms-input-placeholder {
      color: #1f1f1f; }
    .form__input::-ms-input-placeholder {
      color: #1f1f1f; }
    .form__input::placeholder {
      color: #1f1f1f; }
    .form__input--textarea {
      width: 100%;
      height: 295px;
      resize: none;
      padding-top: 40px; }
  .form__butn {
    width: 100%;
    display: inline-block;
    background: #e4a436;
    font-family: "Abril Fatface", cursive;
    line-height: 32px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    color: #1f1f1f;
    padding: 10px 30px;
    border: none; }

/* END GLOBAL STYLES */
h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 42px;
  font-size: 4.2rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

h3 {
  font-family: "Abril Fatface", cursive;
  font-size: 32px;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

h4 {
  font-family: "Abril Fatface", cursive;
  font-size: 24px;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

.main-header {
  background-color: #345231;
  height: 85vh; }

.hero-headline {
  font-family: "Abril Fatface", cursive;
  font-size: 125.5px;
  font-size: 12.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #f6f6f6; }

.main-nav {
  font-weight: 700;
  font-size: 2.0rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #345231; }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-nav__list-item {
    padding: 20px; }
    .main-nav__list-item:nth-of-type(2) {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1; }
    .main-nav__list-item:nth-of-type(3) {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1; }
    .main-nav__list-item--logo {
      font-family: "Abril Fatface", cursive;
      font-size: 4rem;
      line-height: 0.5; }
  .main-nav__link {
    color: #f6f6f6; }
    .main-nav__link--active {
      color: #e4a436; }

.hero-headline {
  position: relative; }

.hero-headline::before {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../assets/circle-text.png);
  background-repeat: no-repeat; }

.hero-text {
  border: 1px solid yellow; }

.hero-image {
  bordeR: 1px solid blue;
  width: 40%; }

.head-section--top {
  padding: 100px 0 150px 0; }

.head-section--bottom {
  padding: 150px 0 100px 0; }

.subsections {
  background: #fff; }

.section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .section-content__item {
    width: 50%; }
  .section-content__text {
    text-align: center; }
    .section-content__text--left {
      text-align: left; }
    .section-content__text--right {
      text-align: right; }
  .section-content__description {
    margin: 30px 0; }
  .section-content__btn {
    width: auto;
    display: inline-block;
    background: #e4a436;
    font-family: "Abril Fatface", cursive;
    line-height: 32px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    color: #1f1f1f;
    padding: 10px 30px; }

.section-content--right {
  border: 1px solid orange;
  text-align: right; }

.section-content--left {
  border: 1px solid red;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  text-align: left; }

.journey-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%; }

.footer {
  background-color: #1f1f1f;
  color: #f6f6f6;
  text-align: center;
  padding: 5px; }

.header {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .header--blog {
    background-image: url(../assets/blog-image-1.jpg);
    background-size: cover; }
  .header--contact {
    background-image: url(../assets/contact-image-1.jpg);
    background-size: cover;
    background-position: bottom; }
  .header__headline {
    font-family: "Abril Fatface", cursive;
    font-size: 80px;
    font-size: 8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f6f6f6;
    line-height: 92px;
    position: relative;
    top: 17px; }

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 100px 0; }

.asides-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 3;
  -ms-flex: 3 0 33.333%;
  flex: 3 0 33.333%; }

.aside {
  background-color: #fff;
  padding: 30px;
  margin: 0 40px 20px 0; }
  .aside__headline {
    margin-top: 15px 0; }
  .aside__link--highlight {
    font-weight: 700;
    color: #709b6b; }
  .aside__list {
    margin-left: 30px;
    list-style-type: disc; }

.articles-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.article {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  background: white; }
  .article--blog-post {
    padding: 30px;
    border-bottom: 5px solid #709b6b;
    margin-bottom: 30px; }
    .article--blog-post p {
      margin-top: 15px; }
  .article--comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 40px 30px;
    margin-bottom: 20px; }
    .article--comment:last-of-type {
      margin-bottom: 30px;
      border-bottom: 5px solid #709b6b; }
  .article__title {
    font-family: "Abril Fatface", cursive;
    font-size: 26px;
    font-size: 2.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px; }
  .article__text {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%; }
  .article__profile-image {
    width: 100px;
    margin-right: 30px; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }
  .social__list-item {
    margin-right: 35px; }
  .social__link {
    color: #345231; }
  .social__icon {
    font-size: 3rem; }
